{{=<% %>=}}
<div class="masthead">
	<ul class="nav nav-pills pull-right">
	  <li><a href="home.html">Home</a></li>
	  <li><a href="about.html">About</a></li>
	  <li><a href="contact.html">Contact</a></li>
	</ul>
  <h3 class="muted" data-editable="brand">{{commons.company_brand}}</h3>
</div>
<hr>
