{{=<% %>=}}
<div class="jumbotron">
	<img class="imgChangeable" src="{{img.cat}}" alt="">
	<h1 data-editable="header">{{header}}</h1>
	<p class="lead" data-editable="random">{{random}}</p>
	<a class="btn btn-large btn-danger" data-editable="button" href="/about">{{button}}</a>
</div>

<hr>
<div class="row-fluid marketing">
	<div class="span6">
		<h4 data-editable="title">{{title}}</h4>
		<p data-editable="text">{{text}}</p>
	</div>

	<div class="span6">
		<h4 data-editable="title">{{title}}</h4>
		<p data-editable="text">{{text}}</p>
	</div>
</div>
