@import "styles";

// red palette
// "colors" : ["#ffffff", "#EDEBC6", "#F33535", "#D11919", "#DFE0C8"]
// http://www.colourlovers.com/palette/77329/iam_channelled

@red1: #ffffff;
@red2: #EDEBC6;
@red3: #F33535;
@red4: #D11919;
@red5: #DFE0C8;

// color elements

.masthead {
	a {
		color: @red5;
	}
	a:hover {
		background-color: @red3 !important;
	}
	.muted {
		color: @red4;
	}
}

h2, h3, h4 {
	color: @red4;
}

hr {
	border-top-color: @red5;
}

input, textarea {
	border-color: @red5 !important;
}

.jumbotron h1 {
	color: @red3;
}
